<li class="nav-item <%= "active open" if ["erp/testimonials/backend/testimonials"].include?(params[:controller]) %>">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="fa fa-quote-left"></i>
        <span class="title"><%= t('.testimonial') %></span>
        <% if ["erp/testimonials/backend/testimonials"].include?(params[:controller]) %>
            <span class="selected"></span>
            <span class="arrow open"></span>
        <% else %>
            <span class="arrow"></span>
        <% end %>
    </a>
    <ul class="sub-menu">
        <li class="nav-item">
            <a href="<%= erp_testimonials.backend_testimonials_path %>" class="nav-link">
                <span class="title"><%= t('.testimonials') %></span>
            </a>
        </li>
    </ul>
</li>